{% extends "layouts/main.html" %}

{% block pageTitle %}
  Government Gateway account migration
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-width-container"></div>
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Exploratory
    </strong>
    <span class="govuk-phase-banner__text">
      These are early concepts, tell us what you think
    </span>
  </p>
</div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Initial Discovery Team</span>
<h1 class="govuk-heading-xl">Get medium confidence in someone's identity without checking a photo ID</h1>
</div>

<div class="govuk-grid-column-one-third">

  <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
    <h2 class="govuk-heading-m" id="subsection-title">
      Useful links
    </h2>
    <nav role="navigation" aria-labelledby="subsection-title">
      <ul class="govuk-list govuk-!-font-size-16">
        <li>
          <a href="#">
            Related link
          </a>
        </li>
        <li>
          <a href="#">
            Related link
          </a>
        </li>
        <li>
          <a href="#" class="govuk-!-font-weight-bold">
            More <span class="govuk-visually-hidden">in Subsection</span>
          </a>
        </li>
      </ul>
    </nav>
  </aside>

</div>



<div class="govuk-grid-column-two-thirds">
  <table class="govuk-table">


    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-4  govuk-!-margin-top-4">
           Early journey concept
          </h2>
          <h2 class="govuk-heading-s govuk-!-margin-bottom-4">
            What this includes:
          </h2>
          <ul>

        <li>Something</li>
        <li>Something</li>
        <li>Something</li>
        <li>Something</li>


          </ul>
            <a href="/initiatives/no-photo-id/v1/truelayer-01" class="govuk-button  govuk-!-margin-top-4"><strong>Launch</strong></a>

        </td>
        <td class="govuk-table__cell">
          <strong class="govuk-tag govuk-tag--red  govuk-!-margin-top-4" style="font-size: 16px;">Not validated</strong>
          <p class="govuk-hint govuk-!-margin-top-1"><small>April 2023</small></p>
        </td>

      </tbody>
      </table>

    </div>













{% endblock %}


{% block footer %}
<footer class="govuk-footer " role="contentinfo"></footer>
{% endblock %}
