{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
HSBC
{% endblock %}


{% block header %}

<header class="hsbc-header" role="banner">
  <div class="hsbc-header__container">

    <!-- HSBC logo placeholder -->
    <div class="hsbc-header__logo">
      <a href="#" class="hsbc-header__link">
        <span class="hsbc-header__logotype">
          <!-- Replace this with your HSBC logo image or SVG -->
          <img src="/public/images/hsbc-logo.svg" alt="HSBC Logo" class="hsbc-logo">
        </span>
      </a>
    </div>

  </div>
</header>

{% endblock %}


{% block content %}
<div class="govuk-width-container">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

<body class="hsbc-page">

  <h1 class="hsbc-h1">Open Banking information sharing</h1>

  <div class="hsbc-inset">
    <div class="hsbc-inset__line"></div>
    <h2 class="hsbc-h2">Check details</h2>
  </div>
  

  <div class="hsbc-grey-box">
    <p class="hsbc-body">TrueLayer Limited has requested repeat access to the following information:</p>
    <p class="hsbc-body"><b>Account details</b></p>
    <ul>
      <li class="hsbc-body">Your account name, number and sort-code</li>
      <li class="hsbc-body">Your account balance</li>
    </ul>
  
    <p class="hsbc-body"><b>Regular payments</b></p>
    <ul>
      <li class="hsbc-body">Details of Payee agreements your have set up</li>
      <li class="hsbc-body">Details of your standing orders</li>
      <li class="hsbc-body">Your Direct Debits</li>
    </ul>
  
    <p class="hsbc-body"><b>Account transactions</b></p>
    <ul>
      <li class="hsbc-body">Your incoming transactions</li>
      <li class="hsbc-body">Your outgoing transactions</li>
      <li class="hsbc-body">Details of your incoming transactions</li>
      <li class="hsbc-body">Details of your outgoing transactions</li>
    </ul>
  
    <p class="hsbc-body"><b>Account features and benefits</b></p>
    <ul>
      <li class="hsbc-body">The type of account you have</li>
      <li class="hsbc-body">The fees, charges and interest you pay</li>
      <li class="hsbc-body govuk-!-margin-bottom-6">The benefits, services, rewards and interest your account offers</li>
    </ul>
  
    <div class="hsbc-flex-container">
      <p class="hsbc-body"><b>Valid until:</b></p>
      <p class="hsbc-body hsbc-flex-item">20 January 2024</p>
    </div>
  </div>


<hr class="govuk-section-break govuk-section-break--visible">

<div class="hsbc-inset">
  <div class="hsbc-inset__line"></div>
  <h2 class="hsbc-h2">Username</h2>
</div>

<p class="hsbc-body govuk-!-static-margin-bottom-6">To authorise us to share your information, first we need you to confirm your identity by entering your online banking username and re-authentication code. Then select the accounts you want us to share information from.</p>

<label for="username" class="hsbc-label">Please enter your username eg IB12345678 or John123</label>
<input type="text" id="username" name="username" class="hsbc-text-input" value="**********">

<hr class="govuk-section-break govuk-section-break--visible">

<div class="hsbc-inset">
  <div class="hsbc-inset__line"></div>
  <h2 class="hsbc-h2">Re-authentication code</h2>
</div>

<p class="hsbc-body govuk-!-static-margin-bottom-6">Generate a re-authentication code using your Secure Key or HSBC Mobile Banking App.</p>

<div class="hsbc-code-input">
  <label class="hsbc-label" for="code-input">Enter re-authentication code</label>
  <input class="hsbc-code-input-field" type="text" name="code-input-1" maxlength="1" value="*">
  <input class="hsbc-code-input-field" type="text" name="code-input-2" maxlength="1" value="*">
  <input class="hsbc-code-input-field" type="text" name="code-input-3" maxlength="1" value="*">
  <input class="hsbc-code-input-field" type="text" name="code-input-4" maxlength="1" value="*">
  <input class="hsbc-code-input-field" type="text" name="code-input-5" maxlength="1" value="*">
  <input class="hsbc-code-input-field" type="text" name="code-input-6" maxlength="1" value="*">
</div>

<hr class="govuk-section-break govuk-section-break--visible">

<p class="hsbc-body-1">Your log on information won't be shared.</p>

<a class="hsbc-cancel-link" href="#">Cancel</a>
  <button class="hsbc-button" data-module="hsbc-button" onclick="window.location.href = '/initiatives/no-photo-id/v1/hsbc-03';">
    Continue
  </button>

  <hr class="govuk-section-break govuk-section-break--visible">

  <h1 class="hsbc-h1-1">What is Open Banking?</h1>

  <p class="hsbc-body">Open Banking allows you to share your HSBC account information with third parties, without sharing your log on details. It enables third parties to access your data and provide you with services. You can also use it to initiate payments. However, we won't share information or allow payments without your authority.</p>


</body>

</div>
</div>
</main>
</div>




<footer class="hsbc-footer">
  <div class="hsbc-footer__container">
    <nav class="hsbc-footer__navigation" aria-label="Footer">
      <ul class="hsbc-footer__list">
    </nav>
  </div>
</footer>


{% endblock %}

