{% extends "layouts/main.html" %}

{% block pageTitle %}
Get to GPG45 medium without photo ID
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-width-container"></div>
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Exploratory
    </strong>
    <span class="govuk-phase-banner__text">
      These are early concepts, tell us what you think
    </span>
  </p>
</div>
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Initial Discovery Team</span>
<h1 class="govuk-heading-xl">Get to GPG 45 medium without photo ID</h1>
</div>

<div class="govuk-grid-column-one-third">

  <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
    <h2 class="govuk-heading-m" id="subsection-title">
      Related links
    </h2>
    <nav role="navigation" aria-labelledby="subsection-title">
      <ul class="govuk-list govuk-!-font-size-16">
        <li>
          <a href="/page-index">
            GOV.UK One Login page index
          </a>
        </li>
        <li>
          <a href="/user-journeys">
            GOV.UK One Login user journeys
          </a>
        </li>
      </ul>

     
    </nav>
  </aside>

</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<h2 class="govuk-heading-l">Design concepts</h2>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


<p class="govuk-body">This is where we can link to our prototypes.</p>

{% endblock %}


{% block footer %}
<footer class="govuk-footer " role="contentinfo"></footer>
{% endblock %}
